@{
    ViewBag.Title = "Home Page";
}

<div class="homecontent">
    <div id="pictures">
        <div class="search">
            <!--Search Hotel Database-->
            <fieldset id="searchField">
                <legend>Search Hotel</legend>
                @using (Html.BeginForm("Index", "Hotel"))
            {
                List<SelectListItem> list = new List<SelectListItem>();
                list.Add(new SelectListItem() { Text = "All Locations", Value = "" });
                list.Add(new SelectListItem() { Text = "Chicago, Illinois", Value = "chicago" });
                list.Add(new SelectListItem() { Text = "Grand Rapids, Michigan", Value = "grand rapids" });
                list.Add(new SelectListItem() { Text = "Sydney, Australia", Value = "sydney" });

                    @Html.Label("Hotel Name")<br />
                    @Html.TextBox("txtName")<br />
                    <br />
                    @Html.Label("Hotel City")<br />
                    @Html.DropDownList("selectLocation", list, new { style = "color: black;" })<br />
                    <br />
                    <input type="submit" value="Search" id="btnSearch" />
                }
            </fieldset>
        </div>
    </div>
    <div id="searchMobile">
        <fieldset id="searchMobileField">
            <legend>Search Hotel</legend>
            @using (Html.BeginForm("Index", "Hotel"))
            {
                List<SelectListItem> list = new List<SelectListItem>();
                list.Add(new SelectListItem() { Text = "All Locations", Value = "" });
                list.Add(new SelectListItem() { Text = "Chicago, Illinois", Value = "chicago" });
                list.Add(new SelectListItem() { Text = "Grand Rapids, Michigan", Value = "grand rapids" });
                list.Add(new SelectListItem() { Text = "Sydney, Australia", Value = "sydney" });

                @Html.Label("Hotel Name")<br />
                    @Html.TextBox("txtName")<br />
                    <br />
                    @Html.Label("Hotel City")<br />
                    @Html.DropDownList("selectLocation", list, new { style = "color: black;" })<br />
                    <br />
                    <input type="submit" value="Search" id="btnSearch" />
            }
        </fieldset>

    </div>
    <script type="text/javascript">
        //Creates array to hold url for all images in slideshow
        var imageArray = ["../Images/CityRain.jpg", "../Images/SnowyCity.jpg", "../Images/Tokyo.jpg", "../Images/Czech.jpg"];
        //Sets starting index for array
        var imageIndex = 1;

        //Funtion to change src attribute of the image from the photo variable, and set it to the next image in the array
        function changeImage() {
            document.getElementById("pictures").style.backgroundImage = "url('" + imageArray[imageIndex] + "')";
            //photo.setAttribute("src", imageArray[imageIndex]);
            imageIndex++;
            //Resets imageIndex if it reaches 4
            if (imageIndex >= imageArray.length)
                imageIndex = 0;
        }
        //Timer, will run the changeImage function every 4000 miliseconds (4 seconds)
        var intervalHandle = setInterval(changeImage, 4000);
    </script>

    <br />
    <br />
    <!--Was to be a smaller version of a page listing 5-6 popular locations, due to time limitations this was not implemented. Currently just a sample of hotels from database-->
    <div class="recommended">
        <h3 style="text-indent:10px">Recommended Locations(Not Implemented)</h3>
        <br />
        <ul>
            <li class="recommendedText">Amway Hotel</li>
            <li class="recommendedText">Grand Chicago Hotel</li>
            <li class="recommendedText">Ritz Carlton Hotel</li>
        </ul>
        <ul>
            
            <li><img src="~/Images/amway.jpg" /></li>
            <li><img src="~/Images/grandchicago.jpg" /></li>
            <li><img src="~/Images/ritz.jpg" /></li>
        </ul>
    </div>
</div>