@model IEnumerable<Gradien.Models.Hotels>

@{
    ViewBag.Title = "Search";
}

<div id="searchPageContent">
    <fieldset>
        <!--Searches hotel database-->
        <h2>Search Hotels</h2>
        @using (Html.BeginForm("Index", "Hotel"))
        {
            List<SelectListItem> list = new List<SelectListItem>();
            list.Add(new SelectListItem() { Text = "All Locations", Value = "" });
            list.Add(new SelectListItem() { Text = "Chicago, Illinois", Value = "chicago" });
            list.Add(new SelectListItem() { Text = "Grand Rapids, Michigan", Value = "grand rapids" });
            list.Add(new SelectListItem() { Text = "Sydney, Australia", Value = "sydney" });

            @Html.Label("Hotel Name")<br />
            @Html.TextBox("txtName")<br />
            <br />
            @Html.Label("Hotel City")<br />
            @Html.DropDownList("selectLocation", list)<br />
            <br />
            <input type="submit" value="Search" id="btnSubmit" />
        }
    </fieldset>

    <br />

    <h2>Results</h2>
    <!--Sets column names for results table from model variables-->
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HOTEL_IMAGE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HOTEL_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HOTEL_CITY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HOTEL_STATE)
            </th>
        </tr>
        <!--Runs through all items given from HotelController and displays their information to the screen in a table-->
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="hotelImage" src="@Url.Content("~/Images/"+item.HOTEL_IMAGE)" alt="Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HOTEL_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HOTEL_CITY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HOTEL_STATE)
                </td>
            </tr>
        }

    </table>
</div>