@model Gradien.Models.Hotels

@{
    ViewBag.Title = "HotelDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>HotelDetails</h2>

<div>
    <h4>Hotels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HOTEL_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEL_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOTEL_STATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEL_STATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOTEL_CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEL_CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOTEL_IMAGE)
        </dt>

        <dd>
            <img class="hotelImage" src="@Url.Content("~/Images/" + Model.HOTEL_IMAGE)" alt="Image" />
        </dd>

        <dd>
            @Html.DisplayFor(model => model.HOTEL_IMAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELETE_STAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELETE_STAT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "HotelList")
</p>
