<!DOCTYPE html>
<!--The body rendering from the admin page starts at the content-wrapper class-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/AdminContent/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>LTE</span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">                           
                        </li>
                        <li class="dropdown user user-menu">
                                <span class="hidden-xs">@User.Identity.Name</span>
                            <ul class="dropdown-menu">
                                <!-- User stuff -->
                                <li class="user-header">
                                    <p>
                                        Hello @User.Identity.Name;                                        
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        @Html.ActionLink("Sign out", "Logout", "Account", null, new { @class = "btn btn-default btn-flat" })
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <!--<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
                    </div>
                    <div class="pull-left info">
                        <p>@User.Identity.Name</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-edit"></i> <span>Forms</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
                            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                            <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-table"></i> <span>Tables</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i>User Table</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Version 2.0</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>

            <!-- Main content This is the CSS and the html from the _layout so that we have the Admin Skin along with the  -->
            <section class="content">
                <style type="text/css">
                    ul.headBar {
                        list-style-type: none;
                        max-width: 740px;
                        margin: 0 auto;
                    }

                        ul.headBar li {
                            display: inline;
                            padding: 8px;
                            padding-left: 16px;
                            padding-right: 16px;
                            font-size: 30px;
                            width: 120px;
                            height: 40px;
                            border: 2px solid blue;
                            border-radius: 5px;
                            margin: 15px;
                        }

                    h1 {
                        padding-top: 50px;
                        margin-bottom: -25px;
                    }

                    h4 {
                        padding-top: 15px;
                        text-indent: 5px;
                    }

                    ul.footer {
                        list-style-type: none;
                        display: inline;
                    }

                    .column {
                        float: left;
                        margin: 0 60px;
                        font-size: 15px;
                        color: #535353;
                        display: inline-block;
                        opacity: 0.8;
                    }

                        .column li {
                            padding-bottom: 10px;
                        }

                    footer {
                    }
                </style>
                    <img src="~/Images/Logo.png" alt="Gradiens Logo" style="height:150px;width:100px;float:left;margin-right:10px;margin-left:200px" />
                    <h1>Gradiens</h1>
                    <h4>A Travel Agency</h4>
                    <br />
                    <div>
                        <ul class="headBar">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <!-- <li>Recommended</li> -->
                            <li>@Html.ActionLink("Plan A Trip", "MakingATrip", "MakingATrip")</li>
                            <li>@Html.ActionLink("Support/Contact Us", "Support", "Support")</li>
                        </ul>
                    </div>
                    <br />
                    <br />
                    <!--<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div> -->
                    <div class="container body-content">
                        @RenderBody()
                        <hr />
                        <footer>
                            <div class="column">
                                <ul class="footer">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>Recommended</li>
                                    <li>@Html.ActionLink("Plan A Trip", "MakingATrip", "MakingATrip")</li>
                                    <li>@Html.ActionLink("Support/Contact Us", "Support", "Support")</li>
                                </ul>
                            </div>
                            <div class="column">
                                <ul class="footer">
                                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                    <li>@Html.ActionLink("FAQs", "FAQ", "Home")</li>
                                </ul>
                            </div>
                            <div class="column">
                                <ul class="footer">
                                    <li>@Html.ActionLink("Privacy Policy", "Privacy", "Home")</li>
                                    <li>@Html.ActionLink("Terms of Service", "Terms", "Home")</li>
                                </ul>
                            </div>
                            <p style="clear:both;text-align:center;">&copy; @DateTime.Now.Year - Gradiens</p>
                        </footer>
                    </div>
                    <!--Bundles where not working had to manually render the Scripts-->             

            </section>

        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.8
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            </ul>
            <!-- Tab panes -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Adminbootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
