<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!--TO DO: render the Scripts and Css bundles that are currently not working: modernizr, jquery, boostrap, Css is simply a misname Content/css -> Content/Site.css-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <img src="~/Images/Logo.png" alt="Gradiens Logo" style="height:150px;width:100px;float:left;margin-right:10px;margin-left:200px"/>
    <h1 id="title">Gradiens</h1>
    <h4 id="subTitle">A Travel Agency</h4>
    <br />
    <div class="headBar">
        <ul class="headBar">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Contact Us", "Contact", "Support")</li>

            <!--Determines if the login or logout link in navigation bar is shown to user. Based on if user is logged in or not-->
            @if (Request.IsAuthenticated) // If user is logged in
            {
                <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
            }
            @if (!Request.IsAuthenticated) // If user is not logged in
            {
                <li>@Html.ActionLink("Login", "Login", "Account")</li>
            }
        </ul>
    </div>
    <hr />
    <br />
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="column">
                <ul class="footer">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                </ul>
            </div>
            <div class="column">
                <ul class="footer">
                    <li>@Html.ActionLink("Contact Us", "Contact", "Support")</li>
                    <li>@Html.ActionLink("FAQs", "FAQ", "Home")</li>
                </ul>
            </div>
            <div class="column">
                <ul class="footer">
                    <li>@Html.ActionLink("Privacy Policy", "Privacy", "Home")</li>
                    <li>@Html.ActionLink("Terms of Service", "Terms", "Home")</li>
                </ul>
            </div>
            <p style="clear:both;text-align:center;">&copy; @DateTime.Now.Year - Gradiens</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
